a{
    /*Trocar cor dos links */
        color: #f8f1f1;
        text-decoration: none;
    }
    /*Undeline nos links quando passa o mouse */
    a:hover{
        text-decoration:underline ;
    }

html, body {
    height: 100%;
}
body {
    background-image: url(img/abstract-brazil.jpg) ;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

main {
    flex: 1;
    margin-bottom: 2rem;

}

header, footer {
    width: 100%;
}
.card-img-top {
    width: 70% !important;
    height: auto !important;
    margin: 0 auto;
    margin-top: 10px;
}
.card-text {
    font-family: 'Courier New', Courier, monospace;
    color: #070606;
    text-align: justify;
}
.card-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt;
    font-style: center;
    color: #070707;
    /* -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(253, 251, 251); */
}

footer {
    color: #050505;
    font-size: 1rem;
    padding: 0px;
    text-align: center;
  }
